html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
}

body {
  align-items: center;
  background-color: #eef0f4;
  display: flex;
  min-height: 100dvh;
  justify-content: center;
  user-select: none;
  --moz-user-select: none;
  --webkit-user-select: none;
}
